* {
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	background-color: #357a38;
	font-family: sans-serif;
	background-image: url("img/back.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.content {
	margin: auto;
	background: rgba(38, 87, 40, 0.7);
	padding: 20px;
	width: 70%;
	position: relative;
}

p, h4, h1{
	color: #ffffff;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 18px;
}

h4 {
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px; 
}

input, select{
	font-size: 15px;
	padding: 15px;
	border: none;
}

input {
	background-color: #b7dfb9;
	width: 180px;
	margin-top: 5px;
}

select {
	border: none;
	background: #4CAF50;
	color: white;
	/*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
	height: 48px;
}

.inline{
	display: inline;
}

button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 8px;
}

img {
	width: 15%;
	padding: 20px;
	bottom: 0;
	right: 0;
	position: absolute;
}

.newElement {
	margin-right: 5px;
}

/*#submit {
	font-size: 20px;
	padding: 16px;
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 50%;
	margin: 10px;
}*/

.single {
	/*margin: 15px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

.bigform {
	margin-top: 20px;
	margin-bottom: 20px;
}

#submit {
	font-size: 20px;
	padding: 16px;
}

p.discription {
	color: rgba(255,255,255,0.7);
	margin-top: 5px;
	font-size: 15px;
	margin-bottom: -13px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 13px;
}
::-moz-placeholder { /* Firefox 19+ */
	font-size: 13px;
}
:-ms-input-placeholder { /* IE 10+ */
	font-size: 13px;
}
:-moz-placeholder { /* Firefox 18- */
	font-size: 13px;
}