body {
	margin: auto;
	background-color: #357a38;
	font-family: sans-serif;
}

.content {
	margin: auto;
	background-color: #265728;
	padding: 20px;
	width: 70%;

}

p, h4{
	color: #ffffff;
}

p {
	font-size: 16px;
}

h4 {
	font-size: 25px;
}

input {
	background-color: #b7dfb9;
	border: none;
	padding: 18px;
	vertical-align: middle;
}

.inline{
	display: inline;
}

.bigform {
	margin-top: 20px;
	margin-bottom: 20px;
}